*{
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ff6347;      /* coral */
  --color-secondary: #0000ff;    /* Blue */
  --color-success: #9e3b42;      /* Red */
  --color-danger: #ffff00;       /* Yellow */
  --color-warning: #ff00ff;      /* Magenta */
  --color-info: #3498db;         /* Cyan */
  --color-light: #ffffff;        /* White */
  --color-dark: #000000;         /* Black */
}

body {
  background: var(--color-light);
  font-family: Arial, sans-serif;
  text-align: center;
  
}

body.dark {
  background-color: var(--color-dark);
  color: #000;
}

h1 {
  color: var(--color-info);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-light);
}

header {
  width: 100%;
  height: 80px;
  background: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 20px;
}

.dark-mode {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.dark-mode .logo {
  color: var(--color-light);
}

.dark-mode .nav-bar {
  background-color: var(--color-dark);
}

.dark-mode .nav-bar ul li a {
  color: var(--color-danger);
}

/*frases*/

#frase {
  font-size: 3vw; /* establece el tamaño de fuente en 4% del ancho de la ventana del navegador */
  font-weight: bold;
  font-style: italic;
  margin: 30px auto;
  margin-left: 10%;
  background-color: var(--color-light);
  color: var(--color-info);
  max-width: 100%; /* establece el ancho máximo en 100% del ancho de la ventana del navegador */
  text-shadow: 1px 0px 1px whitesmoke;
  padding: 5vw; /* establece el relleno en 5% del ancho de la ventana del navegador */
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.5; /* establece la altura de línea en 1.5 veces el tamaño de fuente */
}

.botones{
  display: flex;
  gap:10px;
  margin: 10px;
  margin-left: 30%;
}

.boton1 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-primary) ;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton1:hover {
  background-color: var(--color-success);
}

.boton2 {
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton2:hover {
  background-color: var(--color-success);
}

.compartir {
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.compartir:hover {
  background-color: var(--color-success);
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  header{
    max-width: 80%;
  }
  
  #frase {
    font-size: 4vw;
    max-width: 80%;
    padding: 10px;
    margin: 20px auto;
  }
  
  .botones {
    display: flex;
    gap: 10px;
    margin: 10px;
  }
  
  .boton1, .boton2, .compartir {
    font-size: 10px;
    padding: 10px 20px;
    font-size: 19px;
  }
  
  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

    .imatext {
        flex-direction: row;
        align-items: flex-start;
    }

    #contenedor-imagen {
        max-width: 50%;
        margin-right: 10px;
    }

    #texto {
        width: 50%;
    }

    #agregar-texto {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #descargar {
        margin-top: 0;
    }
    
    .footer {
      font-size: 14px;
      text-align: center;
    }
}

@media (max-width: 1024px) {
  header {
    max-width: 90%;
  }

  #frase {
    font-size: 18px;
    max-width: 80%;
    padding: 10px;
    margin: 20px auto;
  }

  .botones {
    display: flex;
    gap: 10px;
    margin: 10px;
  }

  .boton1,
  .boton2,
  .compartir {
    font-size: 10px;
    padding: 10px 20px;
    font-size: 19px;
  }

  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .imatext {
    flex-direction: row;
    align-items: flex-start;
  }

  #contenedor-imagen {
    max-width: 50%;
    margin-right: 10px;
  }

  #texto {
    width: 50%;
  }

  #agregar-texto {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #descargar {
    margin-top: 0;
  }
}


@media (max-width: 435px) {

header {
    max-width: 80%;
  }
  
  #frase {
    font-size: 8vw;
    max-width: 70%;
    padding: 15px;
    margin: 10px auto;
  }

  .boton1,
  .boton2,
  .compartir {
    font-size: 12px;
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
h1{
    font-size: 12px;
}
  #frase {
    font-size: 10vw;
    max-width: 90%;
    padding: 10px;
    margin: 10px auto;
  }

  .boton1,
  .boton2,
  .compartir {
    font-size: 10px;
    padding: 6px 12px;
    font-size: 12px;
  }
}
